framework:
    messenger:
        failure_transport: failed

        transports:
            async:
                dsn: '%env(RABBITMQ_URL)%'
                options:
                    queues:
                        async: ~

            failed: 'doctrine://default?queue_name=failed'

        default_bus: messenger.bus.default

        buses:
            messenger.bus.default: []

        routing:
            Symfony\Component\Mailer\Messenger\SendEmailMessage: async
            Symfony\Component\Notifier\Message\ChatMessage: async
            Symfony\Component\Notifier\Message\SmsMessage: async
            App\Message\DiveLogMessage: async
