{# templates/login/dashboard.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        {# Hamburger alleen op mobiel tonen #}
        <button class="navbar-toggler d-md-none ms-2" type="button"
                data-toggle="collapse"
                data-target="#mobileSidebar"
                aria-controls="mobileSidebar"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav px-3 ms-auto">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/logout">Sign out</a>
            </li>
        </ul>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        <!-- Groep: Duiken -->
                        <li class="nav-item mt-3">
                            <span class="nav-link text-muted" style="font-weight: bold;">Duiken</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/duiklog/overzicht">
                                Overzicht
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/duiklog/nieuw">
                                <span data-feather="plus"></span>
                                Nieuwe duik toevoegen
                            </a>
                        </li>

                        <!-- Groep: Vissen -->
                        <li class="nav-item mt-4">
                            <span class="nav-link text-muted" style="font-weight: bold;">Vissen</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/vissen/overzicht">
                                <span data-feather="fish"></span>
                                Overzicht
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/vissen/nieuw">
                                <span data-feather="plus"></span>
                                Nieuwe vangst toevoegen
                            </a>
                        </li>

                        <!-- Groep: Sporten -->
                        <li class="nav-item mt-4">
                            <span class="nav-link text-muted" style="font-weight: bold;">Sporten</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sporten/overzicht">
                                <span data-feather="fish"></span>
                                Overzicht
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sporten/nieuw">
                                <span data-feather="plus"></span>
                                Nieuwe sportactiviteit toevoegen
                            </a>
                        </li>


                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h1 class="h2">
                        {% block page_title %}Dashboard{% endblock %}
                    </h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                    </div>
                </div>

                {% block content %}{% endblock %}


            </main>
        </div>
    </div>
{% endblock %}
